@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #f8f9f8;
  --text1: #33383c;
  --text2: #8e9193;
  --placeholder: #e8eae8;
  --primary: #f7542e;
  --success: #7fc98e;
  --video: #082136;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Encode Sans Expanded', sans-serif; */
  /* font-family: 'Zen Kaku Gothic New', sans-serif; */
  /* font-family: 'Zen Kaku Gothic Antique', sans-serif; */
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.form-group {
  margin-bottom: 1.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #d9d9d9;
}

::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #b2b2b2;
}

.rdw-editor-wrapper {
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
}
.editor-class {
  padding: 0 1rem 0.5rem;
  min-height: 8rem;
  max-height: 10rem;
}
.toolbar-class {
  border: none !important;
  border-bottom: 1px solid rgb(0 0 0 / 10%) !important;
  margin-bottom: 0;
}

#nprogress .bar {
  height: 5px !important;
  background-color: #7755e2 !important;
  z-index: 99999 !important;
}
