.CourseCard {
  width: 32%;
  aspect-ratio: 1 / 0.9;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  color: var(--text);
  margin: 5px;
}

.CourseCardLevel {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text);
  border-radius: 20px 0 20px 0;
  z-index: 1;
  width: fit-content;
  padding: 5px 20px;
}

.CourseCardPrimer,
.CourseCardPrimer .CourseCardLevel {
  background: var(--course-primer);
  color: var(--white);
}

.CourseCardBeginner,
.CourseCardBeginner .CourseCardLevel {
  background: var(--course-beginner);
  color: var(--white);
}

.CourseCardIntermediate,
.CourseCardIntermediate .CourseCardLevel {
  background: var(--course-intermediate);
  color: var(--white);
}

.CourseCardAdvance,
.CourseCardAdvance .CourseCardLevel {
  background: var(--course-advance);
  color: var(--white);
}

.img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.imgOverlay {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, var(--white), rgba(0, 0, 0, 0));
}

.CourseCardPrimer .imgOverlay {
  background: linear-gradient(to top, var(--course-primer), rgba(0, 0, 0, 0));
}

.CourseCardBeginner .imgOverlay {
  background: linear-gradient(to top, var(--course-beginner), rgba(0, 0, 0, 0));
}

.CourseCardIntermediate .imgOverlay {
  background: linear-gradient(
    to top,
    var(--course-intermediate),
    rgba(0, 0, 0, 0)
  );
}

.CourseCardAdvance .imgOverlay {
  background: linear-gradient(to top, var(--course-advance), rgba(0, 0, 0, 0));
}

.CourseCardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #fff; */
  padding: 10px;
}

.CourseCardThreeDots {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.CourseCardThreeDots:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.CourseCardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  justify-self: flex-end;
}

.CourseCardRating,
.CourseCardDuration {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.8rem;
}

.CourseCardRating span,
.CourseCardDuration span {
  margin-left: 5px;
}

@media screen and (max-width: 1350px) {
  .CourseCard {
    width: 49%;
    margin-bottom: 5px;
    margin-right: 1%;
  }
}

@media screen and (max-width: 1150px) {
  .CourseCard {
    width: 100%;
    margin-bottom: 5px;
    margin-right: unset;
  }
}

@media screen and (max-width: 991px) {
  .CourseCard {
    width: 33%;
    margin-bottom: 5px;
    margin-right: unset;
  }
}

@media screen and (max-width: 700px) {
  .CourseCard {
    width: 49%;
    margin-bottom: 5px;
    margin-right: 1%;
  }
}

@media screen and (max-width: 470px) {
  .CourseCard {
    width: 100%;
    margin-bottom: 5px;
    margin-right: unset;
  }
}
