.container {
  width: 100%;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.articles {
  margin-top: 40px;
}

.articles .articlesHeading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
